{% extends 'layout.html' %}
{% block body %}

<div class="container-fluid">
        <div class="row">
                <div class="col-lg-6 col-md-12">
                        <h4 style="font-size: 2vw;text-align: center;">AI PAST PRESENT FUTURE
                        <p style="font-size: 1vw;text-align: center;">Date:17-05-2021</p></h4>
                        <h4 style="font-size: 2vw;">P.Radha Krishna</h4>
                        <p>PROF and HOD At DEPT Of Computer Science And Engineering , Nation Institute Of Technology, Warangal</p>
                        <p> Organized by ACM student chapter</p> 
                        <h5 style="font-size: 2vw;">Dept. of Computer Science and Engineering</h5>
                        <h3 style="font-size: 2vw;"> Prasad V. Potluri Siddhartha Institute of Technology (Autonomous)</h3>
                        <p>(Permanent Affiliation to JNTU, Kakinada) (Recognized by AICTE, Accredited by 
                        NBA ,  NAAC) and
                        (ISO 9001: 2008 Certified Institution)
                        Kanuru, Vijayawada – 520007
                        </p>
                </div>
                <div class="col-lg-6 col-md-12">
                        <div >
                                <img src="{{url_for('static', filename='images/1.jpg')}}" style="padding-bottom: 56% ;width: 100%;">
                        </div>
                </div>
        </div>
</div>
{% endblock %}