{% extends 'layout.html' %}
{% block body %}
<p color="black">Organized by ACM student chapter</p> 
<h4 color=”blue”>Dept. of Computer Science and Engineering</h4>
<h3 color=”red”> Prasad V. Potluri Siddhartha Institute of Technology (Autonomous)</h3>
<p color=”blue”>(Permanent Affiliation to JNTU, Kakinada) (Recognized by AICTE, Accredited by 
NBA ,  NAAC) and
 (ISO 9001: 2008 Certified Institution)
Kanuru, Vijayawada – 520007
</p>
<div class="event_image">
    <img src="{{url_for('static', filename='images/1.jpg')}}"  alt="..." width="100px" height="100px">
</div>
{% endblock %}