{% extends 'layout.html'%}
{% block body %}
	
<!-- {% for row in rows%}
	<p>{{row['id']}}</p>
	<p>{{row['name']}}</p>
{% endfor %} -->
<a href={{"/event"+id}}>
	<div class="home_cards" style="text-decoration: none; color: white;">
		<div class="title" style="background-color: #A862F1">
			<p class="home_h5 h5">AI Past Present Future</p>
		</div>
		<p class="home_p" style="background-color: #6FEA03"><br></p>
   		<div class="home_date">
     		<h6 class="home:hover">30-12-2020</h6>
		</div>
	</div>
</a>

<div class="home_cards">
	<div class="title" style="background-color: #F11C9A">
		<p class="home_h5 h5" style="color: #FFFFFF">2-DAY STUDENT TRAINING PROGRAM ON MICROSOFT AZURE,ITS FEATURES AND APPLICATION DEVELOPMENT</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #1068F9">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #10E7F9">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #EE1414">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #80ff72">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #0d324d">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #6b0f1a">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color :#ebbe9b; background-image :linear-gradient(315deg, #ebbe9b 0%, #e7a977 74%);">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #36096d;
background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #f5d020;
background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #21d190;
background-image: linear-gradient(315deg, #21d190 0%, #d65bca 74%);">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #2876f9;
background-image: linear-gradient(315deg, #2876f9 0%, #6d17cb 74%);">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #ffce2a">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>


<div class="home_cards">
	<div class="title" style="background-color: #e3efe8;
background-image: linear-gradient(315deg, #e3efe8 0%, #96a7cf 74%);">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #f5f4f2;
background-image: linear-gradient(315deg, #f5f4f2 0%, #ff4081 74%);">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>


<div class="home_cards">
	<div class="title" style="background-color: #130f40;
background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #ff7d59;
background-image: linear-gradient(319deg, #ff7d59 0%, #ff583a 37%, #f4a698 100%);
">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #ca7968;
background-image: linear-gradient(315deg, #ca7968 0%, #0c0c0c 74%);
">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #c73e1d;
background-image: linear-gradient(315deg, #c73e1d 0%, #a23b72 37%, #2e86ab 100%);
">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #045de9;
background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #972239;
background-image: linear-gradient(315deg, #972239 0%, #db6885 74%);
">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #91d370;
background-image: linear-gradient(319deg, #91d370 0%, #bca0ff 37%, #f2cd54 100%);">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #fefdfc;
background-image: linear-gradient(315deg, #fefdfc 0%, #473146 74%);">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>



<div class="home_cards">
	<div class="title" style="background-color: #f2dd6e;
background-image: linear-gradient(319deg, #f2dd6e 0%, #cff27e 37%, #ef959d 100%);
">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #c86fc9;
background-image: linear-gradient(316deg, #c86fc9 0%, #f79ad3 74%);
">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #581845 ">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>
{% endblock %}