{% extends 'layout.html'%}
{% block body %}
	
<!-- {% for row in rows%}
	<p>{{row['id']}}</p>
	<p>{{row['name']}}</p>
{% endfor %} -->

<div class="home_cards">
	<div class="title" style="background-color: #A862F1">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #F11C9A">
		<p class="home_h5 h5" style="color: #FFFFFF">2-DAY STUDENT TRAINING PROGRAM ON MICROSOFT AZURE,ITS FEATURES AND APPLICATION DEVELOPMENT</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #A862F1">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #A862F1">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>

<div class="home_cards">
	<div class="title" style="background-color: #A862F1">
		<p class="home_h5 h5" style="color: #FFFFFF">AI Past Present Future</p>
	</div>
	<p class="home_p" style="background-color: #6FEA03"><br></p>
   	<div class="home_date">
     	<h6 class="home:hover">30-12-2020</h6>
	</div>
</div>



{% endblock %}