{% extends 'layout.html' %}
{% block body %}

<div class="career_news"  style="background-color: #FFFFFF">
	
	<div class="career_title">
		<h5 class="joel" style="color: #000000">
Maximizing Your Technology Salary and Opportunity in 2021

</h5>
	</div>
		
   <div class="career_date">
     <h6 class="joel2"> Dice Insights, December 23</h6>
	</div>
	
	<div class="des">
		<!--<p>Past, Present, Future</p>-->
	</div>
</div>

<div class="career_news"  style="background-color: #FFFFFF">
	
	<div class="career_title">
		<h5 class="joel" style="color: #000000">
Being a Data Scientist Could Be Rewarding in 2021</h5>
	</div>
		
   <div class="career_date">
     <h6 class="joel2"> Dice Insights, December 23</h6>
	</div>
	
	<div class="des">
		<!--<p>Past, Present, Future</p>-->
	</div>
</div>

<div class="career_news"  style="background-color: #FFFFFF">
	
	<div class="career_title">
		<h5 class="joel" style="color: #000000">
How AI is Helping Top Tech Talent Connect With the Best Opportunities</h5>
	</div>
		
   <div class="career_date">
     <h6 class="joel2"> Fast Company, December 16
</h6>
	</div>
	
	<div class="des">
		<!--<p>Past, Present, Future</p>-->
	</div></div>

<div class="career_news"  style="background-color: #FFFFFF">
	
	<div class="career_title">
		<h5 class="joel" style="color: #000000">
Can Reskilling Lead to Lasting Jobs in Digital and Cloud?</h5>
	</div>
		
   <div class="career_date">
     <h6 class="joel2"> Information Week, December 16
</h6>
	</div>
	
	<div class="des">
		<!--<p>Past, Present, Future</p>-->
	</div></div

{% endblock %}
